{% extends 'teacher/base.html' %}
{% load staticfiles %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
{% endblock %}

{% block title %}
    <title>Welcome to ShanghaiTech</title>
{% endblock %}

{% block lib %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock %}

{% block style %}
    <style>
        .nav-pills > li.active > a,
        .nav-pills > li.active > a:hover,
        .nav-pills > li.active > a:focus{
            background-color: green;
            color: white;
        }

        .nav-pills > li > a {
            color: limegreen;
        }

    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="masthead">
      <h3 class="text-muted">Hello, {{ user }}</h3>
          <ul class="nav nav-pills nav-justified">
              <li role="presentation" class="active">
                  <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
              </li>
              <li role="presentation">
                  <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                      Messages
                      {% if stu_info|length > 0 %}
                      <span class="badge">{{ stu_info|length }}</span>
                      {% endif %}
                  </a>
              </li>
              <li role="presentation">
                  <a href="#student" aria-controls="student" role="tab" data-toggle="tab">Student</a>
              </li>
              <li role="presentation">
                  <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
              </li>
          </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        {% include "./home.html" %}
        {% include "./messages.html" with students=stu_info %}
    <div role="tabpanel" class="tab-pane fade" id="student">...</div>
    <div role="tabpanel" class="tab-pane fade" id="settings">...</div>
    </div>
</div>
{% endblock %}}