{% extends 'students/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome {{ name }}!</h1>
        <p>请选择下一步的操作</p>

      </div>
    </div>
<div class="col-md-10 col-md-offset-1 ">
        <div class="col-md-7">
          <h2>注册信息</h2><br>
        <div class="col-md-5">
            <img src="{% static stu.photo %}" width="170" height="220" alt="Photo Not Found" class="img-circle">
        </div>
           <div class="col-md-7">
           <h4>姓名：<small>{{ stu.name }}</small></h4>
               <h4>性别：
           <small>
                {% if stu.sex == True %}
                    {{ "男" }}
                    {% else %}
                    {{ "女" }}
                {% endif %}
            </small>
               </h4>
               <h4>身份证号码：<small>{{ stu.resident_id }}</small></h4>

               <h4>出生日期：<small>{{ stu.date_of_birth }}</small></h4>

            <h4>本科院系：<small>{{ stu.university }} {{ stu.major }}</small></h4>

            <h4>电话号码：<small>{{ stu.tel }}</small></h4>

            <h4>Email：<small>{{ stu.email }} </small></h4>

            <h4>学分绩: <small>{{ stu.gpa }} </small></h4>

            <h4>专业排名：<small>{{ stu.ranking }}</small></h4>
        </div>

        </div>
<div class="col-md-5" >
        <div class="row">
          <h2>志愿选择</h2><br>
          <p>选择您的导师</p><br>
          <p><a class="btn btn-primary" href="#" role="button" onclick="window.location.href='./select'">选择导师</a></p>
        </div>
        <div class="row">
          <h2>信息修改</h2><br>
            <div>
                <p>请务必在第一次登录时进行信息的修改</p><br>
            </div>
          <p><a class="btn btn-primary" href="#" role="button" onclick="window.location.href='./edit'">修改信息</a></p>
        </div>
</div>
      </div>
{% endblock %}
