{% extends 'students/base.html' %}

{% block style %}
<style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

    .container {
        text-align: left;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .form-signin .checkbox {
      font-weight: normal;
    }
    .form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>
{% endblock %}

{% block content %}
         <nav class="navbar-inverse navbar-fixed-top">

      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ShanghaiTech</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="color: #2e6da4">
          <div class="navbar-right">
               <button type="button" class="btn btn-default navbar-btn" onclick="window.location.href='./main'">返回主页</button>
                <button type="button" onclick="window.location.href='./logout'" class="btn btn-default navbar-btn navbar-right">Log out</button>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">个人信息修改</h1>
        <p>请修改您的个人信息</p>

      </div>
    </div>

<div class="container md-col-8 md-col-offset-2">
    <form class="form-signin" method="post" ENCTYPE="multipart/form-data">
        <!--<label for="inputEmail" class="sr-only">Email address</label>-->
        <!--<input type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
        <!--<label for="inputPassword" class="sr-only">Password</label>-->
        <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
            <label  for="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
            </div>
        {% endfor %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>

    </form>

</div>
{% endblock %}}