{% extends 'students/base.html' %}
{% load staticfiles %}
{% block style %}
<style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
        margin-top: 100px;
        color: whitesmoke;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .form-signin .checkbox {
      font-weight: normal;
    }
    .form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>
{% endblock %}
{% block script %}

     <script>
         function refresh_check_code(ths) {
                 ths.src += '?';
         }
     </script>
{% endblock %}
{% block content %}
        <body style="background: url({% static 'img/tower.jpg' %});
        background-attachment:fixed;
        background-size: cover;

            ">
         <nav class="navbar-default navbar-fixed-top" style="background-color: #9D0711">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: whitesmoke" href="http://www.shanghaitech.edu.cn">ShanghaiTech University</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="color: #2e6da4">
          <div class="navbar-right">
                <button type="button" onclick="window.location.href='./login'" class="btn btn-default navbar-btn navbar-right">Login</button>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container md-col-4 md-col-offset-4">
    <form class="form-signin" method="post">
        {% csrf_token %}
        {{ form }}
{#        <h2 class="form-signin-heading">Please sign up</h2>#}
{#        <label for="username" class="sr-only">User Name</label>#}
{#        <input type="text" id="username" class="form-control" placeholder="User Name" required autofocus>#}
{#        <label for="password" class="sr-only">Password</label>#}
{#        <input type="password" id="password" class="form-control" placeholder="Password" required>#}
{#                <label for="repeatPassword" class="sr-only">Repeat Your Password</label>#}
{#        <input type="password" id="repeatPassword" class="form-control" placeholder="Repeat your Password" required>#}
        <div align="center" style="margin-top: 20px;margin-bottom: 20px">
            <img id="check_code_img" src="/student/code_img/" onclick="refresh_check_code(this)">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
 {% if error !=  "" %}
        <div class="alert alert-danger alert-dismissible alert-box" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                </span>
            </button>
            {{ error }}

</div>
{% endif %}
</div>
        </body>

{% endblock %}