{% extends 'students/base.html' %}

{% block style %}
<style>
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

    .container {
        text-align: center;
        margin-top: auto;
    }

    .form-signin {
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .form-signin .checkbox {
      font-weight: normal;
    }
    .form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>
{% endblock %}

{% block content %}
     <nav class="navbar-default navbar-fixed-top" style="background-color: #9D0711">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: whitesmoke" href="http://www.shanghaitech.edu.cn">ShanghaiTech University</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="color: #2e6da4">
            <div class="navbar-right">
          <div class="btn-group">
              <button type="button" onclick="window.location.href='./register'" class="btn btn-default navbar-btn navbar-right">Register</button>

          </div>
                </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="page-header" style="height: auto; margin-top: 90px">
      <div class="container">
          <img src="../../../static/resource/img/STU.jpg" class==img-responsive" style="width: 15%">

      </div>
    </div>
<div class="container">
    <h2 class="form-signin-heading" style="font-family:'Arial Hebrew'">Please Login</h2>
    <form class="form-signin" method="post">
        <!--<label for="inputEmail" class="sr-only">Email address</label>-->
        <!--<input type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
        <!--<label for="inputPassword" class="sr-only">Password</label>-->
        <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
        {% csrf_token %}
        {% for field in form %}

                <label class="sr-only" for="{{ field.name }}">{{ field.label }}</label>

            <div>{{ field }}</div>

        {% endfor %}

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
  <div class="form-signin">

  </div>

            {% if can_not_login %}
        <div class="alert alert-danger alert-dismissible alert-box" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;
                </span>
            </button>
            <strong>Sorry!</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Wrong user or password
        </div>
        {% endif %}

</div>
         <div id="footer" class = "footer navbar-fixed-bottom" style=" width: 100%; margin-top: 30px;">
         <div class="footer-div" style="font-size: 12px;">
             <br>
             Copyright (c) 2014-2017 ShanghaiTech University All rights reserved
             <br>
             <small></small>
             Developed By:He Xin & Ding Ruiyang, SIST@ShanghaiTech
         </div>
     </div>
{% endblock %}}