{% extends 'students/base.html' %}
{% block content %}
<div class="row col-md-10 col-md-offset-1" style="text-align: center;margin-left: auto">
        <div class="col-md-4">
          <h2>我的信息</h2>
            <p>第一志愿：{{ first_teacher }}</p>
            <p>第二志愿：{{ first_teacher }}</p>
            <p>第三志愿：{{ first_teacher }}</p>
      </div>
</div>
    <form method="post" class="col-md-10 col-md-offset-1">
            {% csrf_token %}
    <h3>选择您的意向导师</h3>
<!--  -->
    <div class="col-md-3">
        <select name = "t1"  class="form-control">
            {% for each in info  %}
                <option value="{{ forloop.counter}}">{{ each.name }}</option>
            {% endfor %}
        </select>
    </div>
        <div class="col-md-3">
        <select name="t2" class="form-control">
            {% for each in info  %}
                <option value="{{ forloop.counter }}">{{ each.name }}</option>
            {% endfor %}
        </select>
        </div>
            <div class="col-md-3">
        <select name="t3" class="form-control">
            {% for each in info  %}
            <option value="{{ forloop.counter }}">{{ each.name }}</option>
            {% endfor %}
        </select>
    </div>
        <button type="submit" class="btn btn-primary col-md-offset-1 col-md-1">提交</button>
        <div>
            <span class="col-md-2 col-md-offset-1">
                <h5>第一志愿</h5>
            </span>
                    <span class="col-md-2 col-md-offset-1">
                <h5>第二志愿</h5>
            </span>
                    <span class="col-md-2 col-md-offset-1">
                <h5>第三志愿</h5>
            </span>
        </div>
    </form>
<div class="container-fluid align-center">
<div class="col-md-8 col-md-offset-2">
        <h3 style="text-align:center ">教师名录</h3>
        {% for each_t in info %}
            <div  class="list-group-item">
            <dl>
                <dt><h5 class="list-group-item-heading">{{ each_t.name}}</h5>
                    <div class="list-group-item-text">
                        电话号码:{{ each_t.tel }}<br>
                        电子邮箱:{{ each_t.email }}<br>
                        办公地址:{{ each_t.address }}<br>
                        研究领域:{{ each_t.area }}<br>
                    </div>
            </dl>
                   </div>
        {% endfor %}

</div>

</div>
{% endblock %}