{% extends 'students/base.html' %}
{% block content %}
     <nav class="navbar-default navbar-fixed-top" style="background-color: #9D0711">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: whitesmoke" href="">ShanghaiTech</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="color: #2e6da4">
          <div class="navbar-right">

                <button type="button" onclick="window.location.href='./logout'" class="btn btn-default navbar-btn navbar-right">Log out</button>
             <button type="button" onclick="window.location.href='./main'" class="btn btn-default navbar-btn navbar-right">Back</button>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="jumbotron">
        <div class="container">
          <h1> 志愿选择</h1>
            <h3>当前志愿</h3>
            <p><small>第一志愿：{{ first_teacher }}</small></p>
            <p><small>第二志愿：{{ second_teacher }}</small></p>
            <p><small>第三志愿：{{ third_teacher }}</small></p>
      </div>
</div>
<div class="container-fluid">
    <form method="post" class="col-md-10 col-md-offset-1">
            {% csrf_token %}
    <h3>选择您的意向导师</h3>
<!--  -->
    <div class="col-md-3">
        <select name = "t1"  class="form-control">
            {% for each in info  %}
                <option value="{{ forloop.counter}}">{{ each.name }}</option>
            {% endfor %}
        </select>
    </div>
        <div class="col-md-3">
        <select name="t2" class="form-control">
            {% for each in info  %}
                <option value="{{ forloop.counter }}">{{ each.name }}</option>
            {% endfor %}
        </select>
        </div>
            <div class="col-md-3">
        <select name="t3" class="form-control">
            {% for each in info  %}
            <option value="{{ forloop.counter }}">{{ each.name }}</option>
            {% endfor %}
        </select>
    </div>
        <button type="submit" class="btn btn-primary col-md-offset-1 col-md-1">提交</button>
        <div>
            <span class="col-md-2 col-md-offset-1">
                <h5>第一志愿</h5>
            </span>
                    <span class="col-md-2 col-md-offset-1">
                <h5>第二志愿</h5>
            </span>
                    <span class="col-md-2 col-md-offset-1">
                <h5>第三志愿</h5>
            </span>
        </div>
    </form>
</div>
    <div class="container-fluid">
                {% if error !=  "" %}
        <div class="alert alert-danger alert-dismissible alert-box" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                </span>
            </button>
            {{ error }}
        </div>
        {% endif %}
    </div>
<div class="container-fluid align-center">
<div class="col-md-8 col-md-offset-2">
        <h3 style="text-align:center ">教师名录</h3>
        {% for each_t in info %}
            <div  class="list-group-item">
            <dl>
                <dt><h5 class="list-group-item-heading">{{ each_t.name}}</h5>
                    <div class="list-group-item-text">
                        <small>电话号码:{{ each_t.phone_number }}</small><br>
                        <small>电子邮箱:{{ each_t.email }}</small><br>
                        <small>办公地址:{{ each_t.work_place }}</small><br>
                        <small>研究领域:{{ each_t.research_area }}</small><br>
                    </div>
            </dl>
                   </div>
        {% endfor %}

</div>

</div>
{% endblock %}