{% extends 'students/base.html' %}
{% block content %}
<div class="row col-md-10 col-md-offset-1" style="text-align: center;margin-left: auto">
        <div class="col-md-4">
          <h2>当前状态</h2>
            <p>第一志愿：{{ first_teacher }}</p>
            <p>第二志愿：{{ first_teacher }}</p>
            <p>第三志愿：{{ first_teacher }}</p>
      </div>
</div>
<div class="container-fluid">
<div class="col-md-6">
        <h3 style="text-align:center ">教师名录</h3>
        {% for each_t in info %}
            {% if forloop.counter > info|length / 2 %}
                {% break %}
            {% endif %}
            <div  class="list-group-item">
            <dl>
                <dt><h5 class="list-group-item-heading">{{ each_t.name }}</h5>
                    <div class="list-group-item-text">
                        电话号码：{{ each_t.tel }}<br>
                        电子邮箱:{{ each_t.email }}<br>
                        办公地址:{{ each_t.address }}<br>
                        研究领域:{{ each_t.area }}<br>
                    </div>
            </dl>
                   </div>
        {% endfor %}

</div>
<div class="col-md-6">
        <h3 style="text-align:center ">教师名录</h3>

        {% for each_t in info %}
            <div  class="list-group-item">
            <dl>
                <dt><h5 class="list-group-item-heading">{{ each_t.name }}</h5>
                    <div class="list-group-item-text">
                        电话号码：{{ each_t.tel }}<br>
                        电子邮箱:{{ each_t.email }}<br>
                        办公地址:{{ each_t.address }}<br>
                        研究领域:{{ each_t.area }}<br>
                    </div>
            </dl>
                   </div>
        {% endfor %}

</div>
</div>
{% endblock %}