<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ShanghaiTech</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript"></script>
</head>
<body>
<div class=".container-fluid">
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Log in">
    </form>
</div>
</body>
</html>